.inputFieldRaw
  position: relative
  text-align: left
  margin: 0 0 0 5px
  top: -4px
  padding: 10px 0 0 0
  height: 100%
  border: none
  outline: none
  background-color: transparent
  font: inherit
  display: inline-flex
  zIndex: 9999
