.SelectChip
  display: inline-block
  &_Label
    width: 100%
  &_Popover
    width: auto
  &_Menu
    width: 100%
  &_Container
    fontSize: 16px
    lineHeight: 24px
    display: inline-block
    position: relative
    padding-top: 24px
    margin-top: 16px
    position: relative
    &-outer
      display: block
      width: 100%
    &-outer
      display: block
      cursor: pointer
      margin: 0 0 17px 0
      width: 100%
      z-index: 1
